JUBWS_BP/services/junitservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.jubws.htwaalen.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="JUnitBenchmarkWebServiceImplService" targetNamespace="http://server.jubws.htwaalen.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.jubws.htwaalen.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://server.jubws.htwaalen.de/">
  <xs:element name="enqueueBenchmark" type="tns:enqueueBenchmark"/>
  <xs:element name="enqueueBenchmarkResponse" type="tns:enqueueBenchmarkResponse"/>
  <xs:element name="getResult" type="tns:getResult"/>
  <xs:element name="getResultAsXML" type="tns:getResultAsXML"/>
  <xs:element name="getResultAsXMLResponse" type="tns:getResultAsXMLResponse"/>
  <xs:element name="getResultResponse" type="tns:getResultResponse"/>
  <xs:element name="isDone" type="tns:isDone"/>
  <xs:element name="isDoneResponse" type="tns:isDoneResponse"/>
  <xs:complexType name="getResult">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:benchmarkResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="benchmarkResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="className" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="methods" nillable="true" type="tns:benchmarkMethod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="benchmarkMethod">
    <xs:sequence>
      <xs:element name="benchmarkRounds" type="xs:int"/>
      <xs:element name="benchmarkTime" type="xs:long"/>
      <xs:element name="concurrency" type="xs:int"/>
      <xs:element name="gcAverage" type="xs:double"/>
      <xs:element name="gcInvocations" type="xs:int"/>
      <xs:element name="gcStddev" type="xs:double"/>
      <xs:element name="gcTime" type="xs:double"/>
      <xs:element minOccurs="0" name="methodName" type="xs:string"/>
      <xs:element name="roundAvg" type="xs:double"/>
      <xs:element name="roundStddev" type="xs:double"/>
      <xs:element name="warmupRounds" type="xs:int"/>
      <xs:element name="warmupTime" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enqueueBenchmark">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enqueueBenchmarkResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isDone">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isDoneResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResultAsXML">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResultAsXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidTokenException" type="tns:InvalidTokenException"/>
  <xs:complexType name="InvalidTokenException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="ExecutionException" type="tns:ExecutionException"/>
  <xs:complexType name="ExecutionException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="BenchmarkNotDoneException" type="tns:BenchmarkNotDoneException"/>
  <xs:complexType name="BenchmarkNotDoneException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getResultResponse">
    <wsdl:part element="tns:getResultResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enqueueBenchmarkResponse">
    <wsdl:part element="tns:enqueueBenchmarkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="enqueueBenchmark">
    <wsdl:part element="tns:enqueueBenchmark" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isDone">
    <wsdl:part element="tns:isDone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultAsXMLResponse">
    <wsdl:part element="tns:getResultAsXMLResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidTokenException">
    <wsdl:part element="tns:InvalidTokenException" name="InvalidTokenException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BenchmarkNotDoneException">
    <wsdl:part element="tns:BenchmarkNotDoneException" name="BenchmarkNotDoneException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResultAsXML">
    <wsdl:part element="tns:getResultAsXML" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResult">
    <wsdl:part element="tns:getResult" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExecutionException">
    <wsdl:part element="tns:ExecutionException" name="ExecutionException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isDoneResponse">
    <wsdl:part element="tns:isDoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="JUnitBenchmarkWebService">
    <wsdl:operation name="getResult">
      <wsdl:input message="tns:getResult" name="getResult">
    </wsdl:input>
      <wsdl:output message="tns:getResultResponse" name="getResultResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidTokenException" name="InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault message="tns:ExecutionException" name="ExecutionException">
    </wsdl:fault>
      <wsdl:fault message="tns:BenchmarkNotDoneException" name="BenchmarkNotDoneException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enqueueBenchmark">
      <wsdl:input message="tns:enqueueBenchmark" name="enqueueBenchmark">
    </wsdl:input>
      <wsdl:output message="tns:enqueueBenchmarkResponse" name="enqueueBenchmarkResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isDone">
      <wsdl:input message="tns:isDone" name="isDone">
    </wsdl:input>
      <wsdl:output message="tns:isDoneResponse" name="isDoneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidTokenException" name="InvalidTokenException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResultAsXML">
      <wsdl:input message="tns:getResultAsXML" name="getResultAsXML">
    </wsdl:input>
      <wsdl:output message="tns:getResultAsXMLResponse" name="getResultAsXMLResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidTokenException" name="InvalidTokenException">
    </wsdl:fault>
      <wsdl:fault message="tns:ExecutionException" name="ExecutionException">
    </wsdl:fault>
      <wsdl:fault message="tns:BenchmarkNotDoneException" name="BenchmarkNotDoneException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JUnitBenchmarkWebServiceImplServiceSoapBinding" type="tns:JUnitBenchmarkWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="enqueueBenchmark">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="enqueueBenchmark">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="enqueueBenchmarkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResult">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getResult">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResultResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ExecutionException">
        <soap:fault name="ExecutionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BenchmarkNotDoneException">
        <soap:fault name="BenchmarkNotDoneException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isDone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isDone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isDoneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getResultAsXML">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getResultAsXML">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResultAsXMLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidTokenException">
        <soap:fault name="InvalidTokenException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ExecutionException">
        <soap:fault name="ExecutionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BenchmarkNotDoneException">
        <soap:fault name="BenchmarkNotDoneException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JUnitBenchmarkWebServiceImplService">
    <wsdl:port binding="tns:JUnitBenchmarkWebServiceImplServiceSoapBinding" name="JUnitBenchmarkWebServiceImplPort">
      <soap:address location="http://localhost:9000/junitservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>